<% var title = 'Temperature Relevée' %>
<% include head %>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Home Monitoring</strong> !</h1>
                    <div class="description">
                        <p class="bg-danger">
                            Votre espace dédié pour gérer l'ensemble de vos équipements de chez vous
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Température <b>relevé</b>  </h3>
                            <p>Gerer l'ensemble de vos équipement dans votre espace</p>
                        </div>
                        <div class="form-top-right">
                            <span style="color:darkgreen"> <i class="fa fa-desktop" aria-hidden="true"></i> </span>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <table class="table table-striped">
                            <thead>
                                 <tr>
                                    <th>date_debut</th>
                                    <th>date_fin</th>
                                    <th>heureDebut</th>
                                    <th>heureFin</th>
                                    <th>temperature_actuel</th>
                                    <th>temperature_min</th>
                                    <th>temperature_max</th>
                                 </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < temperatures.length; i++) { %>
                                <tr>
                                    <td><%= temperature[i].date_debut %></td>
                                    <td><%= temperatures[i].date_fin %></td>
                                    <td><%= temperatures[i].heureDebut %></td>
                                    <td><%= temperatures[i].heureFin %></td>
                                    <td><%= temperatures[i].temperature_actuel %></td>
                                    <td><%= temperatures[i].temperature_min %></td>
                                    <td><%= temperatures[i].temperature_max %></td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                        <br /><a  href="/listeEU" class="btn  btn-danger"> <span class="fa fa-reply" aria-hidden="true"></span> Retour</a>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<%include foot%>